<!DOCTYPE html>
<html
  lang="en"
  xmlns:v-on="http://www.w3.org/1999/xhtml"
  xmlns:v-bind="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles.css" />
    <title>Vue App</title>
  </head>
  <body>
    <div id="app">
      <app-username
        v-bind:username="'Neevor'"
        v-on:usrclicked="userWasClicked($event)"
      ></app-username>
      <app-username v-bind:username="'Anna'"></app-username>
      <p v-bind:class="{updated: name !== 'Max'}">{{ name }}</p>
      <p v-if="name !== 'Max'">Name updated!</p>
      {{ number }}

      <div>
        <button type="button" role="button" v-on:click="changeName">
          Change Name
        </button>
      </div>

      <button v-on:click="addElement">New Element</button>
      <ul>
        <li
          v-for="el in elements"
          v-bind:id="'el' + el"
          v-bind:style="{ background: getColor(el)}"
        >
          Element {{ el }}
        </li>
      </ul>
      <div>
        <button v-on:click="decCounter">-</button>
        <button v-on:click="incCounter">+</button>
      </div>
    </div>

    <div id="app2">
      <label for="name">Name</label>
      <input type="text" id="name" v-model="message" />
      <p>{{ message }}</p>
    </div>

    <hr />

    <div id="assignment1">
      <p v-if="showMessage" v-bind:style="{ background: msgBgColor }">
        {{ message }}
      </p>
      <h2>
        Hobbies (<span v-bind:class="{'many-hobbies': hobbies.length > 3 }"
          >{{hobbies.length}}</span
        >)
      </h2>

      <form v-on:submit="handleHobbySubmit">
        <label for="hobby">New hobby</label>
        <input v-model="newHobby" type="text" name="hobby" id="hobby" />
        <button type="submit">Add</button>
      </form>

      <!--<ul>-->
      <!--<li-->
      <!--v-for="hobby in hobbies"-->
      <!--v-bind:id="hobby"-->
      <!--v-on:click="handleHobbyRemoval(hobby)"-->
      <!--&gt;-->
      <!--{{ hobby }}-->
      <!--</li>-->
      <!--</ul>-->

      <ul>
        <app-hobby
          v-for="hobby in hobbies"
          v-bind:hobby="hobby"
          v-on:hbyclicked="removeHobby(hobby)"
        ></app-hobby>
      </ul>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <script src="assignment-1.js"></script>
  </body>
</html>
