<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="styles/main.css" />
  <title>Section 3</title>
</head>
<body>
<div id="app">
  <p v-if="show % 15 === 0">FizBaz!</p>
  <p v-else-if="show % 3 === 0">Fiz</p>
  <p v-else-if="show % 5 === 0">Baz</p>
  <p v-else>---</p>
  <button @click="show += 1">Click! ({{ show }})</button>

  <div>
    <ul>
      <li v-for="{name, age} in users">{{ name }} ({{ age }})</li>
    </ul>
  </div>

  <div>
    <ul>
      <li v-for="(v, k) in testObj">
        <template v-if="typeof v !== 'object'">{{ v }}</template>
        <template v-else>{{ k }}:</template>
        <ul v-if="typeof v === 'object'">
          <li v-for="item in v">{{ item }}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script src="http://unpkg.com/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
